{% extends 'base.html' %}

{% load static %}


{% block title %}
    Profile
{% endblock title %}
    

{% block main %}
    <!-- Main Content -->
    <main class="flex-grow container mx-auto px-6 py-12 md:py-16">
        <div class="mb-8">
            <h1 class="text-4xl font-extrabold text-slate-900 tracking-tight">My Profile</h1>
        </div>
        
        <div class="grid grid-cols-1 lg:grid-cols-12 lg:gap-8">
            
            <aside class="lg:col-span-4 mb-8 lg:mb-0">
                <div class="bg-white p-8 rounded-2xl shadow-xl border border-slate-200 text-center">
                    <img class="w-24 h-24 rounded-full mx-auto mb-4" src="https://i.pravatar.cc/150?u=a042581f4e29026704d" alt="User avatar">
                    <h2 class="text-2xl font-bold text-slate-900">{{ full_name|default:"Name not set"}}</h2>
                    <p class="text-slate-500 mb-6">{{ user.email }}</p>
                    <a href="{% url 'update_profile' %}" class="w-full bg-slate-100 text-slate-700 font-semibold py-2.5 px-4 rounded-lg hover:bg-green-200 active:bg-green-200 transition-colors">
                        Edit Profile
                    </a>
                </div>
            </aside>

            <div class="lg:col-span-8">
                <div class="bg-white p-8 rounded-2xl shadow-xl border border-slate-200">
                    <h2 class="text-2xl font-bold mb-6 text-slate-900">My Registrations</h2>
                    
                    
                    <div class="space-y-6">

                        {% include 'partials/registrations.html' %}
                        
                    </div>
                </div>
            </div>
        </div>
    </main> 
{% endblock main %}