<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Event Ticket</title>
</head>
<body>

    <center>
        <table width="380" border="1" cellpadding="20" cellspacing="0">
            
            <tr>
                <td colspan="2" align="center">
                    <p><small>YOU'RE GOING TO</small></p>
                    <h1><strong>SYNTHWAVE SUNSET CONCERT</strong></h1>
                </td>
            </tr>

            <tr>
                <td colspan="2" align="center">
                    <img src="data:image/png;base64,{{ qr_image}}" />
                    <p><small>Scan this at the gate</small></p>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>

            <tr>
                
                <td>
                    <small>NAME</small><br>
                    <b>{{user.first_name}} {{user.last_name}}</b>
                </td>
                
                <td align="right">
                    <small>TICKET TYPE</small><br>
                    <b>FREE RSVP</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <small>VENUE</small><br>
                    <b>The Waterfront Pavilion, Miami, FL</b>
                </td>
            </tr>
            <tr>
                <td>
                    <small>DATE</small><br>
                    <b>Aug 24, 2024</b>
                </td>
                <td align="right">
                    <small>TIME</small><br>
                    <b>7:00 PM</b>
                </td>
            </tr>
            <tr>
                <td>
                    <small>ORDER #</small><br>
                    <b>EVB-1A2B3C4D</b>
                </td>
                <td align="right">
                    <small>REGISTERED</small><br>
                    <b>Jul 15, 2024</b>
                </td>
            </tr>
            
        </table>
    </center>

</body>
</html>